<% if current_user %>
  <h1>Invites received:</h1>

  <ul>
    <% current_user.invites_received.each do |i| %>
      <li class="invite-item" >
        <%= i.trip.title %>
        <%= link_to 'Accept Invite', accept_invite_path(i), class: 'btn btn-info', method: 'patch' unless i.accepted %>
        <% if i.accepted %>(Accepted) <%= link_to 'Reject Invite', reject_invite_path(i), class: 'btn btn-dark', method: 'patch'%>
        <% end %>
      </li>
    <% end %>
  </ul>

<% else %>
  <h2> Please log in to see your invites.</h2>
  <%= link_to(' Log In', new_session_path, class: 'btn btn-info') %>
<% end %>
