RSVP to Invitation for trip @trip.title
<%= form_for @invite do |f| %>
  <div class="custom-control custom-radio">
    <input type="radio" id="customRadio1" name="customRadio1" class="custom-control-input">
    <label class="custom-control-label" for="customRadio1"> YES </label>
  </div>
  <div class="custom-control custom-radio custom-control-">
    <input type="radio" id="customRadio2" name="customRadio1" class="custom-control-input">
    <label class="custom-control-label" for="customRadio2"> NO </label>
  </div>
  <div class="custom-control custom-radio custom-control-">
    <input type="radio" id="customRadio3" name="customRadio1" class="custom-control-input">
    <label class="custom-control-label" for="customRadio3"> MAYBE </label>
  </div>
<% end %>