@import 'bootstrap';

img {
  max-width: 1000px;
};

body {
  color: black
};

a, h1 {
  color:#17a2b8
};

a:hover { 
  color:#17a2b8;
};

n {
  font-weight: bold;
};

.invite-item {
  margin-bottom: 4px;
}
